<!DOCTYPE html>
<html  class="{% if site.dash.rtl %}direction--rtl{% else %}direction--ltr{% endif %} theme--dark" lang="{{ page.lang | default: site.lang }}" data-theme="dark">

  {%- include head.html -%}

  <body >

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
      window.FontAwesomeConfig = {
        searchPseudoElements: true
      }
    </script>
  </body>

</html>
